section, p, form, div {
  padding: 15px;
  margin: 10px;
}

label {
  display: block;
  width: 140px;
}

input {
  height: 20px;
}

body {
  width: 80%;
  height: 100%;
  text-align: center;
  font-family: sans-serif;
}

footer {
  height: 20px;
  border-top: 1px #ccc solid;
}